<!-- Footer Section -->
<div class="navbar navbar-light bg-faded justify-content-start">
    <a class="navbar-brand text-center" href="#">
        <img src="/assets/logo.png" width="105" height="30" alt="">
    </a>
</div>