  <!-- Search Bar -->
  <div class="container">
        <div class="input-group col-sm-8 p-4" style="margin:auto">
          <input type="text" class="form-control">
          <span class="input-group-addon">Browse</span>
        </div>
      </div>