<!-- Search Bar -->
  <form class="form-inline" method="post" action="/books">
    <input class="form-control col-sm-6 mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="input">
    <button class="btn btn-outline-dark my-2 my-sm-0" value="Search">Search</button>
  </form>