<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>

</head>

<body>
    <!-- Navigation -->
    <% include ./partials/_navbar %>

        <!-- Page Content -->
        <!-- <div class="container p-4">
            <div class="jumbotron p-4">
                <h4 class="p-2">Add Books</h4> -->

        <!-- Form Test -->
        <form>
            <div class="form-inline">
                <label for="formGroupExampleInput">Add ISBN</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                <button class="btn btn-primary" id="add-book">Search</button>
            </div>
        </form>

        <!-- Manage Books -->

        <div class="container">
            <div class="row-lg">
                <ul class="list-group">
                    <% for (var i = 0; i < title_loan.length; i++) { %>
                        <li class="list-group-item">
                            <h6 style="color:#253C31">
                                <%= title_loan[i] %>
                            </h6>
                            <p>
                                By
                                <%= author_loan[i] %>
                            </p>
                                <span class="actions">
                                    <%= status %>
                                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </span>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
        </div>
        </div>
</body>

<script>
    $(function () {

        $("#add-book").on("click", function (event) {
            event.preventDefault();
            $(".list-group-item").prepend(".list-group")

        });

    });
</script>

<% include ./partials/_footer %>

</html>