<html>

<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
</head>

<body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded justify-content-start">
        <div class="container d-flex">
            <a class="navbar-brand" href="#">
                <img src="../assets/logo.png" width="210" height="60" alt="">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="jumbotron">
            <h4 class="p-2">Add Book</h4>

            <!-- Search Bar -->
            <div class="container">
                <div class="input-group col-sm-8 p-4" style="margin:auto">
                    <input type="text" class="form-control">
                    <span class="input-group-addon">Search</span>
                </div>
            </div>

            <!-- Manage Books -->
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        Book 1
                        <span class="actions">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                        </span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Book 2
                        <span class="actions">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                        </span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Book 3
                        <span class="actions">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>