<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>

</head>

<body>
    <!-- Navigation -->
    <% include ./partials/_navbar %>

        <!-- Page Content -->
        <div class="jumbotron" style="margin:30px">
            <h6 class="lead">Manage Your Library</h6>
            <hr class="my-2">
            <p>Add books to your library for your friends to loan! Enter your book's ISBN or use your mobile phone to scan the
                ISBN barcode.</p>
            <form method="post" action="/library">
                <div class="form-group d-flex justify-content-center p-4">
                    <input class="form-control col-sm-6 mr-sm-2" placeholder="Add ISBN">
                    <button class="btn btn-outline-dark my-2 my-sm-0" id="add-book">Add</button>
                </div>
            </form>
            <div class="panel-body">
                <div class="row-lg">
                    <ul class="list-group">
                        <% for (var i = 0; i < title_loan.length; i++) { %>
                            <li class="list-group-item flex-column justify-content-between">
                                <h6>
                                    <%= title_loan[i] %>
                                </h6>
                                <small>
                                    By
                                    <%= author_loan[i] %>
                                </small>
                                <span class="action-buttons">
                                    <i class="fa fa-book p-2" aria-hidden="true"></i>
                                    <i class="fa fa-minus-square-o p-2 delete-button"  data-book-id="<%= bookId[i] %>" data-user-id="<%= userId[i] %>" aria-hidden="true"></i>
                                </span>
                            </li>
                            <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <% include ./partials/_footer %>
</body>

</html>

<script>
    $(function () {
        $(".list-group-item").each(function () {
            const groupItem = this;
            $(this).on("click", ".delete-button", function () {
                const bookId = Number($(this).data('book-id'));
                const userId = Number($(this).data('user-id'));
                $.ajax({
                    type: 'post',
                    url: '/library/delete',
                    data: { bookId, userId },
                    success: function (result) {
                    },
                    failure: function(err) {
                    }
                });
                groupItem.remove()
            });
        });
    });
</script>